<div class="footer">

        <div class="foot">

            <div class="bub1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, aspernatur.
            </div>

            <div class="bub2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, praesentium!</div>

            <div class="bub3">
            Lorem ipsum dolor sit Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, quidem! </div>
        </div>
</div>